<script type="text/x-template" id="structure-add-registry">
    <div @keyup.esc="closeWindow">
        <div v-if="showError">
            <div v-for="msg in errors" class="text-danger">[[ msg ]]</div>
        </div>
        <div class="form-group">
            <label>Structure Name <i class="fa-solid fa-circle-question" title="Copy and paste structure name from the selected items window"></i></label>
            <input type="text" ref="structureName" v-model="structureName" style="width:300px" v-on:input="onStructureNameInput" />
        </div>
        <div class="form-group">
            <label>Structure Type</label>
            <select v-model="structureType">
                <option value=""></option>
                <option v-for="t in structureTypes" v-bind:value="t.id">
                    [[ t.name ]]
                </option>
            </select>
        </div>
        <div v-if="structure_id == null && structureType === 21" class="form-group">
            <label>System</label>
            <system-picker ref="system" :isAsync="true" :minChars="2" :enableClearOption="false" :placeholder="'Search for a System...'" v-on:item-selected="systemChanged"></system-picker>
        </div>        
        <div v-if="structure_id == null && structureType === 21" class="form-group">
            <label>Planet</label>
            <select v-model="planet">
                <option value=""></option>
                <option v-for="p in planets" v-bind:value="p">
                    [[ p ]]
                </option>
            </select>
        </div>        
        <div class="form-group">
            <label>Corporation / Ticker</label>
            <input type="text" v-model="corporationName" style="width:300px" />
        </div>
        <div v-if="structure_id == null" class="form-group">
            <label>Structure Vulnerability</label>
            <select v-model="structVuln" style="padding:5px">
                <option v-for="opt in vulnList" :value="opt">[[ opt ]]</option>
            </select>           
        </div>
        <div v-if="structure_id == null" class="form-group">
            <label>Structure Fit</label>
            <textarea v-model="fitText" v-on:input="parseFits" style="width:380px;height:100px; padding: 5px" placeholder="Optional...Paste in Eve Structure Fit...ONLY SCANS...."></textarea>
            <div style="font-size: .7em">
                <div v-for="(items, key) in fit" style="width: 180px; display: inline-block; margin-left:5px; margin-top:5px; vertical-align: top;">
                    <div style="display: inline;">
                        <div style="font-weight: bold; text-transform: uppercase;">[[ key ]]</div>
                        <div v-for="type in fit[key]">
                            [[ type.name ]] x[[ type.multiplier ]]
                        </div>
                    </div>
                </div>
            </div>
        </div>       
        <div class="form-group">
            <input type="button" :value="structure_id ? 'Save Structure' : 'Add Structure'" v-on:click="saveStructure" />
        </div>
    </div>
</script>