<script type="text/x-template" id="structure-add-registry">
    <div @keyup.esc="closeWindow">
        <div v-if="showError">
            <div v-for="msg in errors" class="text-danger">{{ msg }}</div>
        </div>
        <div class="form-group">
            <label>Structure Name</label>
            <input type="text" ref="structureName" v-model="structureName" style="width:300px" v-on:input="onStructureNameInput" />
        </div>
        <div class="form-group">
            <label>Structure Type</label>
            <select v-model="structureType">
                <option value=""></option>
                <option v-for="t in structureTypes" v-bind:value="t.id">
                    {{ t.name }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Corporation / Ticker</label>
            <input type="text" v-model="corporationName" style="width:300px" />
        </div>
        <div class="form-group">
            <input type="button" :value="structure_id ? 'Save Structure' : 'Add Structure'" v-on:click="saveStructure" />
        </div>
    </div>
</script>